<%- include('partials/head') %>

<script>
  let examplePoem = {
    paragraph: "<%= paragraph %>",
    keywords: <%- keywords %>
  };
</script>

<main>
  <div class="logo">
    <div></div>

    <div></div>

    <div></div>

    <span>de stadsdichter</span>
  </div>

  <div class="poem-wrapper">
    <section class="poem"></section>

    <div class="share">
      <div>
        <img src="<%- qrcodecode %>" alt="QR code"/>
      </div>
    </div>
  </div>
</main>

<section id="select__spinner">
  <input type="text" id="selectedItemInput" value="" hidden disabled>
  <section class="select">
    <div class="select__container">
      <div class="select__list" style="top: 0"></div>
    </div>
    <button class="select__submit">Kies dit woord</button>
  </section>
</section>

<%- include('partials/footer') %>

